<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>  
  <add key="pathTeamsNamesFolder" value=""/>
  <add key="pathPlayersNamesFolder" value=""/>
  <add key="pathProjectXML" value=""/>
  <add key="ipServer" value="127.0.0.1"/>
  <add key="portServer" value="2034"/>
  <add key="Guerreras" value="GUERRERAS BOLLEYBALL CLUB"/>
  <add key="Cristo Rey" value="CRISTO REY BOLLEYBALL CLUB"/>
  <add key="Mirador" value="MIRADOR BOLLEYBALL CLUB"/>
  <add key="Caribenas" value="CARIBEÑAS NEW HORIZONS"/>
</appSettings>
</configuration>